{% extends 'base.html' %}

{% block content%}
<h1>data list</h1>

<p>
    <a href="{% url 'upload_data' %}" class="btn btn-prmary"></a>
</p>
<table class="table"> 
    <thead>
 <tr>
     <th>Account number</th>
     <th>Branch</th>
     <th>Phone number</th>
     <th>Download</th>
 </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr>
            <td>{{ data.accountnumber }}</td>
            <td>{{ data.branch }}</td>
            <td>{{ data.phonenumber }}</td>
            <td>
                <a href="{{ data.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">Download pdf</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}